port=8000

mongodb_url=mongodb+srv://darshanpatil2896:Darshan9899@darshan.qqbwwop.mongodb.net

CORS_ORIGIN=*

access_token_secret=123456789

access_token_expiry=1d

refresh_token_secret=987654321

refresh_token_expiry=10d